<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="asyncFileError"  xsi:type="File" layout="${date:format=dd/MM/yyyy HH\:mm\:ss.mmm}${newline}${level} ${logger} - ${exception:format=tostring} [${callsite}]${newline}"
            fileName="DbDeploy.log" deleteOldFileOnStartup="true"
            encoding="UTF-8"  createDirs="true" />
    </targets>
    <rules>
      <logger name="*" writeTo="asyncFileError"/>
    </rules>
  </nlog>
</configuration>