<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
      <target name="asyncFileError"  xsi:type="File" layout="${date:format=dd/MM/yyyy HH\:mm\:ss.mmm}${newline}${level} ${logger} - ${exception:format=tostring} [${callsite}]${newline}"
            fileName="Log.log"
            archiveFileName="Log.{#####}.log"
            archiveAboveSize="100240"
            archiveNumbering="Sequence"
            maxArchiveFiles="10" encoding="UTF-8"  createDirs="true" />
      <target name="asyncFileNHibernate"  xsi:type="File" layout="${date:format=dd/MM/yyyy HH\:mm\:ss.mmm}${newline}${level} ${logger} ${message} ${newline}"
            fileName="NHibernate.log"
            archiveFileName="NHibernate.{#####}.log"
            archiveAboveSize="100240"
            archiveNumbering="Sequence"
            maxArchiveFiles="10" encoding="UTF-8"  createDirs="true" />
  </targets>
  <rules>
    <logger name="nhibernate" writeTo="asyncFileNHibernate" final="true"/>
    <logger name="*" writeTo="asyncFileError"/>
  </rules>
</nlog>